body{
  /* top | right | bottom | left */
  padding: 5px 10% 0 10%;
  /* font-family: "Times New Roman", "微軟正黑體", "標楷體";*/
  font-family: "Times New Roman", "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size:1.2em;
  line-height:1.8em; /*行距*/}
p{font-size:1.2em; /* 1.44em = 1.2em body * 1.2em p */}
h1, h2, h3{
  font-family: "Times New Roman", "Noto Sans TC", sans-serif;
  font-weight: 900;
  font-style: normal;}
h1{line-height: 3em;}
h2{line-height: 2em;}
h3{line-height: 1.8em;}
