/*
 * cwTeX 字型(Chinese Traditional) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'NotoSansTC';
    font-style: normal; /* italic, oblique, inherit */
    font-weight: 500;
    src:url('NotoSansTC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'NotoSansTC';
    font-style: normal; /* italic, oblique, inherit */
    font-weight: 900;
    src:url('NotoSansTC-Bold.ttf') format('truetype');
}
